body {
	/* margin: 15px 8px 10px; */
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

h1 {
	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: 700;
	color: #000;
	font-size: 150%;

}

h2 {
	font-family: Arial, sans-serif;
	font-size: 100%;
	text-align-last: left;
	color: #000;
	background: transparent;
}

ul {
	gap: 5px;
}


/* top navbar */

.navbar {
	padding: 10px;
	background-color: #b67ede;
	box-shadow: 0px 0px 15px rgba(0, 0, 0.1);
	height: auto;
}

.navbar-nav {
	margin-left: 15px;
}

#logo {
	max-width: 300px;
	height: 90px;
	border-radius: 15px;
	box-shadow: 3px 3px #4040df;

}

.navbar-item {
	margin-left: 10px;
}

.menu__item {
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}

/* #Navbar{
	text-align: center;
} */
.navbar-nav .nav-link {
	color: #000;
	padding: 2px;
	/* border-radius: 5px; */
	text-decoration: none;
	text-align: center;
}

.nav-item .nav-link:hover {
	color: #fff;
	transition: 1s ease;
	/* background: rgba(255, 255, 255, .3); */
	text-decoration: none;
}

.navbar-nav a.active {
	color: rgb(0, 81, 255);
}

/* bottom-navbar */
.header-bottom {
	display: flex;
	/* justify-content: space-between; */
	background: #b0a3c4;
	/* box-shadow: 0px 0px 15px rgba(0, 0, 0.1); */
	margin-top: 10px;
	justify-content: space-between;
	padding: 10px;
}

.actions {
	display: flex;
	justify-content: space-around;
}

.banner img {
	width: 100%;
	height: 60vh;

}

/* main img */

.banner{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #a9a9a92b;
    z-index: 0;
}
.banner__img{
    flex: 1 1 300px;
}
.banner_img img{
    margin-top: 30px;
    width: 100%;
}
.banner .content{
    flex: 1 1 400px;
    margin-top: 20px;
}
.content h1{
    color: rgb(0, 81, 255);
    font-weight: bold;
    margin-left: 23px;
    font-size: 55px;
    text-shadow: -1px 1px 1px black;
}

.content p{
    margin-left: 23px;
}
.btn{
    margin-left: 13px;
}
.btn button{
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: #b67ede;
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
.btn button:hover{
    background-color: #ffc800;
    color: black;
    border: none;
}

/* product cards */
#product-cards{
    margin-top: 100px;
}
#product-cards h1{
    color: #ffc800;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #ffc800;
	font-size: 2rem;
	margin-bottom: 30px;
}
#product-cards .card h3{
    font-size: 1rem;
}

#product-cards .card h2{
    font-size: 1rem;
    margin-top: 20px;
	float: right;
}

/* product cards */

/* other cards */
#rabais-cards{
    margin-top: 30px;
}

#rabais-cards .card h3{
    margin-top: 5px;
    margin-left: 5px;
}
#rabais-cards .card h5{
    margin-top: 15px;
    font-weight: 100;
    font-size: 1rem;
    margin-left: 5px;
    width: 220px;
}
#rabais-cards .card p{
    margin-top: 10px;
    font-weight: 100;
    font-size: 15px;
    color: black;
    margin-left: 5px;
    letter-spacing: 3px;
}

.achats{
	position: relative;
}
#achat{
    height: 36px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    background-color: black;
	border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
	position: absolute;
	right: 0px;
}

/* other cards */

/* footer */

.footer{
    padding: 0 0 30px 0px;
    font-size: 16px;
    background-color: #b67ede;
	margin-top: 100px;
	padding-top: 10px;
}

.footer h2{
	color: #000;
    font-size: 1.7rem;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}
.footer .footer-top{
    margin-bottom: 30px;
    margin-top: 10px;
}
.footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.footer .footer-top .footer-links ul li a{
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    transition: 1s ease;
	color: #000;
}
.footer .footer-top .footer-links ul li a:hover{
    color: #fff;
}
.footer .footer-top .socail-links a{
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    background-color: #4040df;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    transition: 0.5s ease;
}
.footer .footer-top .socail-links a:hover{
    color: yellow;
}
.footer-bottom{
    text-align: center;
}

.input{
    margin-top: 10px;
}
.input input{
    width: 250px;
    height: 36px;
    border-radius: 5px;
    border:  1px solid black;
}
#inscription{
    width: 120px;
    height: 36px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4040df;
    color: white;
    font-weight: bold;
}
/* /footer */