*, *::before, *::after{
    box-sizing: border-box;
}
body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: 700;
	color: #000;
	font-size: 150%;

}

h2 {
	font-family: Arial, sans-serif;
	font-size: 100%;
	text-align-last: left;
	color: #000;
	background: transparent;
}

ul {
	gap: 5px;
}

table{
    width: 100vw;
    font-family:'Sans Comic Sans', sans-serif;
    font-size: 80%;
    text-align: center;
    color: blue;
    border: 2px solid gray;
    background-color: #fff;
    border-collapse: collapse;
    
}

th, td{
    border: 1px dotted gray;
}

.padded{
    padding: 15px;
}
nav {
    background-color: #b67ede;
    box-shadow: 0px 0px 15px rgba(0, 0, 0.1);
    width: 100%;
    margin-bottom: 15px;
}

.navbar-brand img {
    max-width: 100%;
    max-height: 90px;
    border-radius: 5px;
    border-radius: 15px;
	box-shadow: 3px 3px #4040df;
}

.navbar button{
    border: none;
    background: transparent;
}

.navbar-nav li{
    padding-right: 5px;
}

.nav-link{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
	color: #fff;
	transition: 1s ease;
	text-decoration: none;
}

.navbar-light .navbar-nav .nav-link.active{
	color: rgb(0, 81, 255);
}

@media(max-width: 769px){
    .nav-link{
        text-align: center;
    }
}

/* page accueil */
/* carousel bootstrap */
/* .carousel-inner{
    
    max-height:600px;
}


#carouselResponsive .carousel-indicators {
    position: static;
    margin-top: 2px;
}

#carouselResponsive .carousel-indicators > li {
  width:100px;
} */



.galery{
    margin-top: 80px;
}
.news{
    margin-bottom: 15px;
    font-size: 2rem;
}
.card{
    margin-bottom: 15px;
}
.cart img{
width: 100%;
height: 100%;
}
/* page presentation */
.jumbotron{
    padding: 1em;
    width: 70%;
    margin-left: 10%;
    margin-top: 15px;
}

.alert{
    width: 85%;
    margin: 0 auto;
    padding-top: 2em;
}
.alert hr{
    border-top: 2px solid #f0f0f0;
    width: 100%;
    margin-top: 0.4em;
    margin-bottom: 1em;
}


#fixed{
height:400px;
    border-bottom: 4px solid #f0f0f0;
    background: url('../image/mainLabel.webp') no-repeat center center fixed;
    /* background-blend-mode: multiply;
    background-color: lightblue; */
    background-size: cover;
}


 /* page produit */
.banner{
    margin-bottom: 15px;
    background-color: #f0f0f0;
    margin-top: -10px;
}

.banner img{
    border-radius: 5px;
    width: 100%;
    min-width: 300px;
}


/* other cards */
#rabais-cards{
    margin-top: 30px;
}

#rabais-cards .card h3{
    margin-top: 5px;
    margin-left: 5px;
}
#rabais-cards .card h5{
    margin-top: 15px;
    font-weight: 100;
    font-size: 1rem;
    margin-left: 5px;
    width: 220px;
}
#rabais-cards .card p{
    margin-top: 10px;
    font-weight: 100;
    font-size: 15px;
    color: black;
    margin-left: 5px;
    letter-spacing: 3px;
}

.achats{
	position: relative;
}
#achat{
    height: 36px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    background-color: black;
	border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
	position: absolute;
	right: 0px;
}

/* footer */

.footer{
    padding: 0 0 30px 0px;
    font-size: 16px;
    background-color: #b67ede;
	margin-top: 100px;
	padding-top: 10px;
}

.footer h2{
	color: #000;
    font-size: 1.7rem;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}
.footer .footer-top{
    margin-bottom: 30px;
    margin-top: 10px;
}

.footer-links{
     margin-bottom: 25px;
}

    
.footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.footer .footer-top .footer-links ul li a{
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    transition: 1s ease;
	color: #000;
}
.footer .footer-top .footer-links ul li a:hover{
    color: #fff;
}

.footer .footer-top .footer-links ul li a.active{
    color: rgb(0, 81, 255);
}

.footer .footer-top .socail-links a{
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    background-color: #4040df;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    transition: 0.5s ease;
    margin-bottom: 25px;
}
.footer .footer-top .socail-links a:hover{
    color: yellow;
}

.footer-links .active{
    color:#4040df;
}

.footer .inscription{
    padding-left: 15px;
}


.footer-bottom{
    text-align: center;
}

.input{
    margin-top: 10px;
}
.input input{
    width: 250px;
    height: 36px;
    border-radius: 5px;
    border:  1px solid black;
}
#info-register{
    width: 120px;
    height: 36px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4040df;
    color: white;
    font-weight: bold;
}
/* /footer */

.form-body{
    background: url('../image/paper.webp') no-repeat center fixed;
    background-size: cover;
    opacity: 0.9;
   
}

#form-inscription{
    background-color: #f0f0f0;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
}

#form-inscription label, h2{    
    padding-top: 10px;
}
#form-inscription label{
    margin-left: 10px;
}
#form-inscription button, #form-inscription a{
margin: 10px;
width: 150px;
}

#gender{
    margin-bottom: 10px;
}


.login{
    margin-top: 5px;
}

textarea{
    margin-top: 15px;
}

.contacts, .contacts> h4{
    font-weight: bold;
}



.carousel{
    width: 100vw;
    height: 60vh;
    position: relative;
}

.carousel >ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide{
    position: absolute;
    inset:0;
    /* opacity: 0;
    transition: 2000ms opacity easy-in-out;
    transition-delay: 2000ms; */
}

.slide > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.slide[data-active]{
    opacity: 1;
    transition-delay: 0ms;
    z-index: 1;
}

.carousel-button{
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor:pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);

}

.carousel-button:hover{
    color: #fff;
    background-color: rgba(0,0,0 .2);
}

.carousel-button:focus{
    outline: 1px solid #000;
}

.carousel-button.prev{
    left: 1rem;
}

.carousel-button.next{
    right: 1rem;
}


